
1{Color: DarkViolet}
h2{color:BlueViolet}
h3{color:BlueViolet}
h4{color:DarkOrchid}
h5{Color:DarkOrchid}

li {list-style-type:square; color:Indigo}

background-color {lightgrey}

body{font-family:Optima, Verdana, sans-serif;}


h1{text-align:center
}
.img{
  border-radius:50%;
  width: 100px;
  height: 100px;
  display:block;
  float:left:20px
}
HR {70%}

p.one{border-style:dotted; border-width:20px, bottom; 
}

P.blocktext 
